<ModalDialog @translucentOverlay={{true}}>
  <div class='modal-dialog' role='document'>
    <div class='modal-content'>
      <div class='modal-header'>
        <h5 class='modal-title'>Create post</h5>
      </div>
      <div class='modal-body'>
        <div class='mb-3'>
          <label
            for='exampleFormControlInput1'
            class='form-label'
          >Title:</label>
          <input
            type='email'
            class='form-control'
            id='exampleFormControlInput1'
            value={{@title}}
            {{on 'input' @onTitleChange}}
          />
        </div>
        <div class='mb-3'>
          <label
            for='exampleFormControlTextarea1'
            class='form-label'
          >Content:</label>
          <textarea
            class='form-control'
            id='exampleFormControlTextarea1'
            rows='3'
            value={{@content}}
            {{on 'input' @onContentChange}}
          ></textarea>
        </div>
      </div>
      <div class='modal-footer'>
        <button
          type='button'
          class='btn btn-primary'
          disabled={{@hasEmptyField}}
          {{on 'click' @onSave}}
        >Create</button>
        <button
          type='button'
          class='btn btn-danger'
          disabled={{@hasEmptyField}}
          {{on 'click' @onClose}}
        >Cancel</button>
      </div>
    </div>
  </div>
</ModalDialog>