{{page-title "Show"}}

<Header>POST</Header>
{{!-- <Post::Card @post={{this.model}}/> --}}
<Post::Card @post={{this.model}} />
    {{this.model.owner.username}}
      <p>{{this.model.title}}</p>
      <footer class="blockquote-footer">{{this.model.body}} <cite title="Source Title">Source Title</cite></footer>

{{outlet}}